.container {
    font-family: Verdana
}

.jumbotron {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*#rides-table th,
td {
    display: inline-block;
    width: 16.575%;
}